
*{
  box-sizing: border-box;
  font-family: Helvetica;
  color: #333;
}

h1,h2,h3{
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1{
  font-size:63px;
  
  line-height: 1.1;
}
h2{
  font-size: 30px;
  
}
h3{
  font-size: 24px;
}
body{
  max-width: 65%;
  margin: auto;
  font-size: 14px;
  line-height: 1.42857143;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  flex-direction: column;
  background-color: #eee;
  padding: 48px 60px;
  margin-top: 33px;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}


.text-center {
  text-align: center;
}
.article {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 4px;
  line-height: 1.42857143;
  font-size: 14px;
  text-align: left;
}

.big-img {
  
  text-align: center;
  border: 1px solid #ddd;
  padding:4px;
}
.big-image {
  border-radius: 50%;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
}
.timeline{
  margin-right: auto;
  text-align: left;
  
}
time{
  font-weight: 700;
}
@media only screen and (max-width:768px){

  body{
    margin: auto;
    max-width: 90%;
  }


  h1{
    font-size:36px ;
  }
  h3{
    font-size: 24px;
  }
  

}
